@import 'tailwindcss';

@theme {
  --color-white: #fffaf3;
  --color-black: #051010;
  --color-primary: #99ff33;
  --color-secondary: #8f7fff;
  --color-accent: #ff5e5b;
  --font-serif: 'Quattrocento', serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .button {
    @apply cursor-pointer rounded-full border border-transparent bg-transparent px-5 py-3 text-xs font-semibold uppercase transition-colors duration-300;
    @apply hover:border-[var(--color-primary)] hover:outline-none;
    @apply focus:border-[var(--color-secondary)] focus:outline-none;
  }

  .glass {
    @apply border border-white/20 backdrop-blur-md;
    background-clip: padding-box;
  }

  .animation-link {
    @apply relative font-semibold transition-colors duration-500 before:absolute before:-left-3 before:opacity-0 before:transition-all before:content-['<'] after:absolute after:-right-3 after:opacity-0 after:transition-all after:content-['/>'] hover:before:-left-6 hover:before:opacity-100 hover:after:-right-6 hover:after:opacity-100;
  }

  .shiny-text {
    color: transparent;
    background-image: linear-gradient(120deg, #000, #777 40%, #fff 50%, #777 60%, #000);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 200% 0%;
    }
    100% {
      background-position: -200% 0%;
    }
  }
}
